version: '3.5'

services:

    nginx:
      image: nginx:stable-alpine
      restart: always
      volumes:
        - "./nextcloud/nginx/nextcloud.conf:/etc/nginx/conf.d/default.conf"
#        - "./nextcloud/nginx/demo:/demo/    # just for Demo starting
        - "/var/www/:/var/www"
#        - "../acme/certs:/certs"   # just for acme.sh
#        - "/etc/letsencrypt/:/etc/letsencrypt/" # just for Certbot Certs
        
      links:
        - nextcloud:nextcloud
      ports:
        - 80:80
        - 443:443

    nextcloud:
      restart: always
      image: schleyk/nextcloud:17
      links:
        - redis:redis
        - db:mariadb
      environment:
        - CHECK_PERMISSIONS=1     # default 1 = fix data permissions,  0 = skip data permissions!
        - UID=1000
        - GID=1000
        - UPLOAD_MAX_SIZE=10G
        - APC_SHM_SIZE=128M
        - OPCACHE_MEM_SIZE=128
        - CRON_PERIOD=15m
        - TZ=Europe/Berlin
#        - ADMIN_USER=admin         # Don't set to configure through browser
#        - ADMIN_PASSWORD=changeme!  # Don't set to configure through browser
        - TRUSTED_PROXIES=10.0.0.0/8 192.168.0.0/16 172.16.0.0/12
        - DOMAIN=cloud.example.org
        - DB_TYPE=mysql
        - DB_NAME=nextcloud
        - DB_USER=nextcloud
        - DB_PASSWORD=changeme!
        - DB_HOST=db
      volumes:
        - ./nextcloud/data:/data
        - ./nextcloud/config:/config
        - ./nextcloud/apps:/apps2
        - ./nextcloud/themes:/nextcloud/themes
        - ./nextcloud/certs:/etc/ssl/private
      depends_on:
        - db
      ports:
      - 127.0.0.1:8888:8888

    redis:
      image: redis:alpine
      restart: always
      volumes:
        - ./nextcloud/redis:/data
    db:
      image: mariadb:10
      restart: always
      volumes:
        - ./nextcloud/db:/var/lib/mysql
      environment:
        - MYSQL_ROOT_PASSWORD=changeme!
        - MYSQL_DATABASE=nextcloud
        - MYSQL_USER=nextcloud
        - MYSQL_PASSWORD=changeme!
    phpmyadmin:
      image: phpmyadmin/phpmyadmin
      environment:
        PMA_HOST: db
      ports:
        - "8181:80"
      depends_on:
        - db
